.select_item{
  background-color: #3f37c9;
  text-align: center;
  width: 10rem;
  border-radius: 1rem;
}


.todo_item--check{
  text-decoration: line-through;
}

.shake{
  background-color: whitesmoke;
  animation: shake 400ms 2 linear;
		  -moz-animation: shake 150ms 2 linear;
		  -webkit-animation: shake 150ms 2 linear;
		  -o-animation: shake 150ms 2 linear;
      border: 1px solid grey;
}

.shake:focus{
  outline: none;
}


@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform: translate(3px, 0);
  }
  50% {
    -ms-transform: translate(-3px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: translate(3px, 0);
  }
  50% {
    -o-transform: translate(-3px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}

.todo-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.todo-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 80%;
  overflow: auto;
  
}

.todo-container::-webkit-scrollbar{
  background-color: #1d3557;
  width: .7rem;
  height: 3rem;
  border-radius: 1rem;
}

.todo-container::-webkit-scrollbar-thumb{
  background-color: #f5f3f4;
  border-radius: 1rem;
  border: 1px solid black;


}
.todo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #356bce;
  padding: 5px 10px;
  border-radius: 12px;
  margin-bottom: .7rem;

}

.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.flexCol{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#root{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background-color: #fdfffc;
  
}

.completed{
  text-decoration: line-through 2px white;
  opacity: 50%;
}



.section2{
  width: 800px;
  margin: auto;
}
.daily{
  flex: 3 ;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.navbar_button{
  padding: 2.2px;
  width: 100%;
  border-radius: 2rem;
  position: relative;
  display: flex;
  right: auto;
  left: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  gap: 1.4rem;
}

.navbar_button-mobile{
  padding: 2.2px;
  padding-top: 1.2rem;
  width: 100%;
  border-radius: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: .5rem;
  font-size: 14px;
}

.button-flex{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
  background-color: red;
  width: 100%;
}


@media only screen and (max-width: 640px) {
  #root{
    display: flex;
    width: 100vw;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .section2{
    width: 100%;
  }
}

.fa-cut:hover{
  animation: bellshake 0.6s;
  animation-iteration-count: infinite;

}
.trash-btn:hover{
  animation: shakeDelete 1s ;
  transition: all ease-in-out;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shakeDelete {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(1px, 0px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

