@tailwind base;
@tailwind components;
@tailwind utilities;



/* 
.navbar_button{
  @apply p-1 w-width100p rounded-sm relative xl:right-auto xl:left-auto  xl:flex-row flex-row justify-between overflow-hidden bg-red-700 
} */

.modal{
@apply w-12 bg-red-400 rounded-md  absolute left-auto right-auto translate-x-2/4 translate-y-2/4
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
